body {
  background-color: rgb(101, 188, 215);
  color: rgb(64, 46, 122);
  padding: 0%;
  margin: 0%;
}

.large-emoji {
  font-size: 2em;
}

h1,
p {
  text-align: center;
  padding-bottom: 10px;
}

p {
  padding-top: 70px;
}
