body {
  background-image: url("/images/mike-kenneally-TD4DBagg2wE-unsplash.jpg");
}

.title {
  background-color: rgb(75, 112, 245);
  color: #ffffff;
  font-size: 50px;
}

.blog-container {
  list-style: none;
}

.blog-container li {
  background-color: #d1bb9e;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(38, 122, 157);
  margin-top: 10px;
  color: white;
}

.blog-container a {
  text-decoration: none;
}

.menu-blog {
  list-style-type: none;
  background-color: #a67b5b;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-blog a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.menu-blog a:hover {
  background-color: rgb(86, 77, 155);
}

.menu-blog li {
  margin: 0 10px;
}
